{% load static %}
<html>

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" >
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <title>Sign in</title>
</head>

<body>
  <div class="main">
    <p class="sign" align="center">Sign up</p>
    <form action = "{% url 'submitb' %}" class="form1">
      <input type="email" name="emailid" class="un" align="center" placeholder="Email">
      <input type="password" name="pass" class="un" align="center" id="pwd" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters" placeholder="Password">
<!--      <input type="password" id="psw" name="psw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>-->
      <input type="text" name="name" class="un" align="center" placeholder="Name">
      <button type="submit" class="sub" align="center">Submit</button>
      <p class="forgot" align="center"><a href="#">Forgot Password?</p>




  </div>

</body>

</html>